@media only screen and (max-width: 450px) {
    body {
        background-color: #d2fbff;
    }

    .main-container {
        width: 100%;
        height: 100%;
        box-shadow: none;
        margin: 0;
        padding: 0;
        padding-top: 5%;
    }

    .message-container {
        height: 100vh;
        width: auto;
        top: 0;
        right: 0;
        z-index: 99999;
        border-radius: 0px;
        box-shadow: none;
    }

    .math-container {
        height: 100vh;
        width: calc(100% - 50px);
        top: 0;
        left: 0;
        z-index: 99999;
        border-radius: 0px;
        box-shadow: none;
    }

    .calculation-close-icon {
        height: 10%;
        width: 10%;
        bottom: 30%;
        right: calc(50% - 16px);
    }

    .disclaimer-close-icon {
        bottom: 65%;
    }

    .province-select {
        height: 6%;
        min-height: 48px;
        font-size: 100%;
    }

    .location-icon {
        width: 7%;
        top: 49%;
        left: 23%;
    }

    .input {
        height: 6%;
        min-height: 48px;
        font-size: 115%;
    }

    .dollar-sign {
        top: 50%;
        font-size: 160%;
    }

    .button {
        height: 7%;
        min-height: 47px;
    }

    .button:hover {
        background-color: rgb(126, 241, 142);
    }

    .net-salary {
        margin-right: 6%;
        font-size: 130%;
    }

    .net-salary-label {
        margin-left: 6%;
        font-size: 130%;
    }
}

@media only screen and (max-width: 320px) {
    .net-salary {
        font-size: 100%;
    }

    .net-salary-label {
        font-size: 100%;
    }
    
    .location-icon {
        width: 7.5%;
        top: 56%;
        left: 22.5%;
    }
}